
/* Start hyalolite */


body {
    background-color: white;
    color: white;
}

.navbar {
    /*background-color:aquamarine!important;*/
    opacity: 0.8;
    font-size:20px;
    border-bottom: #008ed6 solid 3px;
}

.background {
    
    background-image: url('../img/33.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    
}

    .dark-overlay {
        background: rgba(0,0,0,0.6);
        
    }

    #home-section {
        margin-top: 90px;
    }

    #home-section.fa {
        color: #008ed6;
        background-color: white;
        border-radius: 5px;
        padding: 5px;
    }

#explore-section.fa {
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
}

.home-inner {
    padding-top: 150px;
}


/* End hyalolite */



/* start animation */

@keyframes up-only{

    0% {
        top: 0;
    }

    100% {
        top: -10px;
    }
}
@keyframes up-an-dowm {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -15px;
    }
}

@keyframes left-move {
    50% {
        left: 0px;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0px;
        border-radius: 0%;
        width: 100%;
        height: 100%;

    }

}

@keyframes right-move {
    50% {
        right: 0px;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0px;
        border-radius: 0%;
        width: 100%;
        height: 100%;
    }

}

/* end animation */