:root{
    --grid-color-background: #F8F8F8;

}

@font-face {
    font-family: hamada-title;
    src: url(../../montserrat-font/MontserratMedium-nRxlJ.ttf);
    font-family: Hamada;
    src: url(../../montserrat-font/MontserratLight-6YemM.otf);
}

.Page-title{
    font-size: 35px;
    padding: 50px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Hamada-title;
    font-weight: 500;
    justify-content: center;
    text-align: center;

}

/* Start grid */

.All-partners-container{
    margin: 20px;
    justify-content: center;
    display: flex;
}
@media only screen and (max-width: 767px) and (orientation: portrait){
    .All-partners-container{
        margin: 10px;
        display: block;
    }
    
}
.partner-container{
    margin: 10px;
    padding: 65px 0px;
    background-color: var(--grid-color-background);
}
@media only screen and (max-width: 767px) and (orientation: portrait){
    .partner-container{
        margin: 10px auto;
        padding: 5px;
        width: fit-content;
    }
    
}
.image-grid{
    height: 15vh;
    width: 40vh;
    margin: 0 auto;
}
@media only screen and (max-width: 767px) and (orientation: portrait){
    .image-grid{
        margin: 0;
        height: 15vh;
        width: 35vh;
    }
    
}



@media only screen and (max-width: 767px) and (orientation: portrait){
    .card-grid {
        margin: 5px 0;
    }
    
}
.text-grid :hover{
    cursor: text;
    
}

/* End grid */









/* start animation */

@keyframes up-only{

    0% {
        top: 0;
    }

    100% {
        top: -10px;
    }
}
@keyframes up-an-dowm {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -15px;
    }
}

@keyframes left-move {
    50% {
        left: 0px;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0px;
        border-radius: 0%;
        width: 100%;
        height: 100%;

    }

}

@keyframes right-move {
    50% {
        right: 0px;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0px;
        border-radius: 0%;
        width: 100%;
        height: 100%;
    }

}

/* end animation */